<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style type="text/css">
body
{
    background-image: url("images/forum-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
    background-attachment: fixed;
}
.black
{
    background-image: url("images/white.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
    background-attachment: fixed;
	color:black;
}
th{
color: black:
}
</style>
</head>
<body>
<div  class="container">
	<ul class="nav nav-tabs">
		 <li role="presentation"><a class="btn btn-default btn-block" data-toggle="tab" href="#viewForums">VIEW FORUMS</a></li>
		 <li role="presentation"><a class="btn btn-default btn-block" data-toggle="tab" href="#addForum">POST FORUM</a></li>
	</ul>

<div class="tab-content" data-ng-controller="ForumController as ctrl">
	<div id="viewForums" class="tab-pane fade in active">
		<h2  style="text-align: center; color: black"><strong>View Forums</strong></h2>
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-4">
</div>
<div class="col-sm-3">
	<table>
		<tr><td ><label class="glyphicon glyphicon-search"></label></td><td width="250px" style="text-align: right;"><input type="text"  style="background-color: white;" class="form-control empty" placeholder="Search Forums" data-ng-model="search"></td></tr>
		<tr><td>&nbsp;<br></td></tr>
	</table>
</div>
<div class="col-sm-2"></div>	
</div>
	<div  data-ng-repeat="f in forums|filter:{forum_id:search}">
		<div data-ng-if="f.status == 'A'">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8 black" style="box-shadow: 5px 5px 5px #000000;">
				<font style="font-size: large;"><a href="" data-ng-click="ctrl.getForum(f.id)">{{f.forum_id}}</a></font> written by <strong>{{f.username}}</strong><br>
				<br>
				<p style="text-align: justify;">{{f.description}}</p>
				<p style="text-align: right;"><a href="" data-ng-click="ctrl.getForum(f.id)">... view more</a></p>
			</div>
			<div class="col-sm-2"></div>
		 </div>	&nbsp;<br>
		</div>
	</div>
	</div>
	
	<div id="addForum" class="tab-pane fade">
	<div class="row" data-ng-controller="ForumController as ctrl">
	<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<form role="form" data-ng-submit="ctrl.addForum()">
				<h2  style="text-align: center; color: black"><strong>Post A Forum</strong></h2>
					<table class="table table-hover black" style="box-shadow: 10px 10px 5px #000000;" >
						<tr>
							<td>TITLE</td>
							<td><input type="text" autofocus="autofocus" maxlength="200" placeholder="Enter Forum Title" data-ng-model="forum.forum_id"></td>
						</tr>
						<tr>
							<td>DESCRIPTION</td>
							<td><textarea rows="5" cols="50" placeholder="Describe your forum here" data-ng-model="forum.description"></textarea>
						</tr>
						<tr>
							<td rowspan="2"><input type="submit" value="Submit Blog"></td>
							<td><input type="reset" value="Clear"> </td>
						</tr>
					</table>
			</form>
	</div>
	</div>
	</div>
</div>
</div>
</body>
</html>