<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login - User</title>
</head>
<body>
Welcome to login Page
<br>
<div ng-controller = "UserController as ctrl">
<form name="form" ng-submit="ctrl.login()" role="form">
<table>
	<tr>
		<td> Username: </td>
		<td> <input type="text" ng-model="user.username"> </td>
	</tr>
	<tr>
		<td> Password: </td>
		<td> <input type="password" ng-model="user.password"> </td>
	</tr>
	
	<tr>
		<td style="text-align: center;"><td><input type="submit" value="Login"></td>
		<td style="text-align: center;"><input type="reset" value="Clear"></td>
	</tr>
</table>
</form>
</div>
	<br>
	<p>{{message}}</p>

</body>
</html>
